@media only screen and (min-width:200px ) and (max-width: 575px){
	.counterSection{
		padding: 30px 0px;
	}
	.counterMid{
		margin: 10px;
		grid-template-columns: repeat(1,1fr);
	}
	.keyHighlightsMid{
		margin: 10px;
	}
	.keyHighlightRow{
	
		grid-template-columns: repeat(1, 1fr);
	
	}

	.headerMid{
		flex-direction: column;
	}
	.headerMid figure img{
		width: 150px;
	}

	.btnOuter{
		position: fixed;
		bottom: 0px;
		width: 100%;

		background: white;
	}
	.btnOuter button{
		flex-grow: 1;
	}
	
}


@media only screen and (min-width: 576px) and  (max-width:992px){
	.counterMid{
		margin: 10px;
		grid-template-columns: repeat(2,1fr);
	}
	.keyHighlightsMid{
		margin: 10px;
	}
	.keyHighlightRow{
	
		grid-template-columns: repeat(2, 1fr);
	
	}
}